.container1{
    height: 100vh;
    width: 100%;
    background-color: rebeccapurple;
}
.slip{
    height: 50%;
    width: 5%;
    background-color: black;
    position: absolute;
    top: 30%;
    left: 50%;
    border-radius: 5%;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.393);
}
.red{
    background-color: red;
    transform-origin: 50% 95%;
    animation: anired 1.5s linear 0s infinite alternate;
}
.orange{
    background-color: orange;
    transform-origin: 50% 95%;
    animation: aniorange 1.5s linear 0s infinite alternate;
}
.yellow{
    background-color: yellow;
    transform-origin: 50% 95%;
    animation: aniyellow 1.5s linear 0s infinite alternate;
}
.green{
    background-color: green;
    transform-origin: 50% 95%;
    animation: anigreen 1.5s linear 0s infinite alternate;
}
.blue{
    background-color: blue;
    transform-origin: 50% 95%;
    animation: aniblue 1.5s linear 0s infinite alternate;
}
.purple{
    background-color: purple;
    transform-origin: 50% 95%;
    animation: anipurple 1.5s linear 0s infinite alternate;
}
@keyframes anired {
    0%{
        transform: rotate(65deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes aniorange {
    0%{
        transform: rotate(40deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes aniyellow {
    0%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes anigreen {
    0%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes aniblue {
    0%{
        transform: rotate(-40deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes anipurple {
    0%{
        transform: rotate(-65deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.red::after{
    content: "";
    top: 95%;
    left: 43%;
    position: absolute;
    background-color: white;
    border-radius: 100%;
    z-index: 2;
    height: 10px;
    width: 10px;
}
div{
    color: black;
    font-size: 20px;
}
#btns{
    display: flex;
    justify-content: space-around;
    background-color: black;
}
button{
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.612);
    color: white;
    border-radius: 10%;
    border: 2px solid grey;
}
button:hover{
    box-shadow: 2px 2px 5px rgb(255, 255, 255);
}
hr{
    height: 5px;
    background-color: black;
}
/* //////////////////////////////////////////////////////////////////// */
.container2{
    background-color: rgb(151, 254, 254);
}
.capsule{
    overflow: hidden;
    position: relative;
    left: 50%;
    height: 380px;
    width: 220px;
    border-radius: 30%;
    background-color: #FAE0C8;
    
}
.mountain1{
    /* overflow: hidden; */
    position: relative;
  top: 20%;
  left: -65%;
  width: 0;
  height: 0;
  border-left: 260px solid transparent;
  border-right: 260px solid transparent;
  border-bottom: 200px solid #F59452;
    /* height: 40px;
    width: 40px;
    background-color:white;
    border-top:none;
    border-bottom: 40px solid black;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent; */
}
.zigzag{
    position: absolute;
    border-left: 260px solid transparent;
    border-right: 260px solid transparent;
    border-bottom: 200px solid #F47A45;
}
#zigzag1{
    transform: rotate(180deg);
    left: 120px;
    top: 211px;
}
#zigzag2{
    transform: rotate(180deg);
    left: 100px;
    top: 230px;
}
#zigzag3{
    transform: rotate(180deg);
    left: 80px;
    top: 250px;
}
#zigzag4{
    transform: rotate(180deg);
    left: 60px;
    top: 270px;
}
#zigzag5{
    transform: rotate(180deg);
    left: 40px;
    top: 290px;
}
#zigzag6{
    transform: rotate(180deg);
    left: 20px;
    top: 310px;
}
#zigzag7{
    transform: rotate(180deg);
    left: 0px;
    top: 330px;
}
#zigzag8{
    transform: rotate(53deg);
    left: -20px;
    top: 381px;
}
.zigzagmountain{
    overflow: hidden;
    position: relative;
    top: 20%;
    left: -265px;
    width: 159px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0);
    transform-origin: 0px 0px;  
    transform: rotate(-53deg);
}
/* //front trees */
#tree1{
    position: relative;
    top: 25px;
}#tree2{
    position: relative;
    top: 50px;
    left: 50px;
}#tree3{
    position: relative;
    top: 35px;
    left: 100px;
}#tree3ii{
    position: relative;
    top: 60px;
    left: 140px;
}#tree4{
    position: relative;
    top: 20px;
    left: 180px;
}
.ftreetop{
    position: absolute;
    height: 0px;
    width: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 60px solid #2D1427;
}
.ftreemiddle{
    position: absolute;
    top: 30px;
    height: 0px;
    width: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 60px solid #2D1427;
}
.ftreebottom{
    position: absolute;
    top: 60px;
    height: 0px;
    width: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 60px solid #2D1427;
}
.ftreeend{
    position: absolute;
    top: 90px;
    height: 0px;
    width: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 60px solid #2D1427;
}
/* //middle tree */
#tree5{
    position: relative;
    top: 65px;
    left: 20px;
}#tree6{
    position: relative;
    top: 50px;
    left: 70px;
}#tree7{
    position: relative;
    top: 30px;
    left: 120px;
}#tree8{
    position: relative;
    top: 40px;
    left: 150px;
}#tree9{
    position: relative;
    top: 20px;
    left: 180px;
}
.mtreetop{
    position: absolute;
    height: 0px;
    width: 0px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 60px solid #5A0831;
}
.mtreemiddle{
    position: absolute;
    top: 30px;
    height: 0px;
    width: 0px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 60px solid #5A0831;
}
.mtreebottom{
    position: absolute;
    top: 60px;
    height: 0px;
    width: 0px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 60px solid #5A0831;
}
.mtreeend{
    position: absolute;
    top: 90px;
    height: 0px;
    width: 0px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 60px solid #5A0831;
}
/* //back trees */
#tree10{
    position: relative;
    top: 32px;
    left: -19px;
}#tree11{
    position: relative;
    top: 35px;
    left: 20px;
}#tree12{
    position: relative;
    top: 45px;
    left: 43px;
}#tree13{
    position: relative;
    top: 40px;
    left: 60px;
}#tree14{
    position: relative;
    top: 30px;
    left: 85px;
}#tree15{
    position: relative;
    top: 30px;
    left: 150px;
}#tree16{
    position: relative;
    top: 20px;
    left: 120px;
}
.btreetop{
    position: absolute;
    height: 0px;
    width: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 60px solid #CD4D45;
}
.btreemiddle{
    position: absolute;
    top: 30px;
    height: 0px;
    width: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 60px solid #CD4D45;
}
.btreebottom{
    position: absolute;
    top: 60px;
    height: 0px;
    width: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 60px solid #CD4D45;
}
.btreeend{
    position: absolute;
    top: 90px;
    height: 0px;
    width: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 60px solid #CD4D45;
}
/* //clouds */
#cloud1{
    overflow: hidden;
    height: 50px;
    width: 100px;
    border-radius: 10%;
    /* background-color: black; */
}
#cloud1{
    position: absolute;
    top: 70px;
    left: -100px;
    background-color: transparent;
    animation: cloud1animation 10s linear 0s infinite  normal;
}
@keyframes cloud1animation {
    0%{
        top:70px;
        left: -150px;
    }
    100%{
        top: 75px;
        left:230px;
    }
}
#cloudbubble1{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    top: 40px;
    left: 0px;
    background-color: white;
}
#cloudbubble2{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    top: 30px;
    left: 15px;
    background-color: white;
}
#cloudbubble3{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    top: 20px;
    left: 40px;
    background-color: white;
}
#cloudbubble4{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    top: 20px;
    left: 75px;
    background-color: white;
}
#cloudbubble5{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    top: 30px;
    left: 70px;
    background-color: white;
}
#cloud2{
    overflow: hidden;
    height: 80px;
    width: 200px;
    border-radius: 0%;
    /* background-color: black; */
    position: absolute;
    top: -20px;
    left: 20px;
    background-color: transparent;
    animation: cloud2animation 20s linear 0s infinite  normal;
}
@keyframes cloud2animation {
    0%{
        top:-20px;
        left: -300px;
    }
    100%{
        top: -20px;
        left:300px;
    }
}
#cloudbubble6{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    top: 70px;
    left: 0px;
    background-color: white;
}
#cloudbubble7{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    top: 55px;
    left: 13px;
    background-color: white;
}
#cloudbubble8{
    position: absolute;
    height: 50px;
    width: 40px;
    border-radius: 100%;
    top: 35px;
    left: 30px;
    background-color: white;
}
#cloudbubble9{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    top: 50px;
    left: 60px;
    background-color: white;
}
#cloudbubble10{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    top: 30px;
    left: 90px;
    background-color: white;
}
#cloudbubble11{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    top: 60px;
    left: 90px;
    background-color: white;
}
#cloudbubble12{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    top: 45px;
    left: 120px;
    background-color: white;
}
#cloudbubble13{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    top: 50px;
    left: 150px;
    background-color: white;
}